<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lab 05 - ISA - Kornel Domeradzki</title>
        <style>
            .form-elem {
                float: left;
                margin-right: 5px;
            }

            .elita {
                width: 280px;
            }

            .populacja {
                background-color: darkseagreen;
            }

            .dopasowanie {
                background-color: chocolate;
            }

            .ocena {
                background-color: cornflowerblue;
            }

            table, td, th {
                border: 1px solid black;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Laboratorium 05 - ISA - Kornel Domeradzki</h1>
        <i>Dokładność wyrażona jest w liczbie całkowitej. Czyli przykładowo gdy d=3 to dokładność 
            ta jest reprezentowana w obliczeniach przez wartość 10<sup>-3</sup>.</i><br>
        <i>P<sub>k</sub> musi być w zakresie 0.75-1.0</i><br/>
        <i>P<sub>m</sub> musi być w zakresie 0.005-0.01</i><br/>
        <i style="color: red;">W przypadku dużej ilości epok należy KONIECZNIE użyć opcji formatowania JSON!</i><br/><br/>

        <form method="GET">
            <div class="form-elem">
                <label for="a"><i>a</i>=</label>
                <input type="number" name="a" value="-4">
            </div>
            <div class="form-elem">
                <label for="b"><i>b</i>=</label>
                <input type="number" name="b" value="12">
            </div>
            <div class="form-elem">
                <label for="d"><i>d</i>=</label>
                <input type="number" name="d" value="3">
            </div>
            <div class="form-elem">
                <label for="N"><i>N</i>=</label>
                <input type="number" name="N" value="10">
            </div>
            <div class="form-elem">
                <label for="N"><i>P<sub>k</sub>=</i></label>
                <input name="Pk" value="0.75">
            </div>
            <div class="form-elem">
                <label for="Pm"><i>P<sub>m</sub>=</i></label>
                <input name="Pm" value="0.005">
            </div>
            <div class="form-elem">
                <label for="epoki"><i>Epoki</i>=</label>
                <input name="epoki" value="5">
            </div>
            <div>
                <label for="json">Format JSON</label>
                <input type="checkbox" name="json">
            </div>
            <span style="clear: both;"></span>
            <br/>
            <div class="form-elem">
                <button type="submit">Oblicz</button>
            </div>
        </form>

        <br><br>

        {{ if not . }}
            <center><h3>Kliknij przycisk "Oblicz" by zobaczyć dane!</h3></center>
        {{ else }}
            <hr>
            <h1>Wykresy</h1>
            <h3>Zestawienie najlepszego wyniku (fmax), z średnim (favg) oraz najgorszym f(min)</h3>
            <img src="/static/fmax_favg_fmin.svg"/>
            <h3>Legenda:</h3>
            <table style="width: 300px;">
                <tr>
                    <th style="background-color: #b2d5f4;"><i>f<sub>max</sub>(x)</i></th>
                    <th style="background-color: #b2f4d0;"><i>f<sub>avg</sub>(x)</i></th>
                    <th style="background-color: #f4b2d5;"><i>f<sub>min</sub>(x)</i></th>
                </tr>
            </table>
            
            <hr>
            <h1>Dane</h1>
            {{ range $i, $a := . }}
                {{ if eq $i 0 }}
                    <h2>Przed algorytmem</h2>
                {{ else }}
                    <h2>Po epoce {{ $i }}</h2>
                {{ end }}

                <table>
                    <tr>
                        <th>L.p.</th>
                        <th class="populacja">Populacja - <i>x<sup>bin</sup></i></th>
                        <th class="populacja">Populacja - <i>x<sup>real</sup></i></th>
                        <th class="dopasowanie">Dopasowanie</th>
                        <th class="ocena">Ocena</th>
                    </tr>
                    {{ range $ii, $xBin := $a.PopulationBytes }}
                    <tr>
                        <td>{{ $ii }}</td>
                        <td>{{ $xBin }}</td>
                        <td>{{ index $a.PopulationF64 $ii }}</td>
                        <td>{{ index $a.Fits $ii }}</td>
                        <td>{{ index $a.Grades $ii }}</td>
                    </tr>
                    {{ end }}
                </table><br/>
                <table class="elita">
                    <tr>
                        <th>Elita</th>
                        <th>Dopasowanie Elity</th>
                    </tr>
                    <tr>
                        <td>{{ $a.Elite }}</td>
                        <td>{{ $a.EliteFit }}</td>
                    </tr>
                </table><br/>
            {{ end }}
        {{ end }}
    </body>
</html>
