<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lab 03 - ISA - Kornel Domeradzki</title>
        <style>
            .form-elem {
                float: left;
                margin-right: 5px;
            }

            table, td, th {
                border: 1px solid black;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>Laboratorium 03 - ISA - Kornel Domeradzki</h1>
        <form method="GET">
            <div class="form-elem">
                <label for="a">a=</label>
                <input type="number" name="a" value="-4">
            </div>
            <div class="form-elem">
                <label for="b">b=</label>
                <input type="number" name="b" value="12"><br>
            </div>
            <div class="form-elem">
                <label for="d">d=</label>
                <input type="number" name="d" value="3"><br>
            </div>
            <div class="form-elem">
                <label for="N">N=</label>
                <input type="number" name="N" value="10"><br>
            </div>
            <div class="form-elem">
                <button type="submit">Oblicz</button>
            </div>
            <span style="clear: both;"></span><br/>
            <i>Dokładność wyrażona jest w liczbie całkowitej. Czyli przykładowo gdy d=3 to dokładność ta jest reprezentowana w obliczeniach przez wartość 10<sup>-3</sup></i>
            <br/>
        </form>

        <br><br>
        <table>
            <tr>
                <th>L.p.</th>
                <th><i>x<sup>real</sup></i></th>
                <th><i>f(x)</i></th>
                <th><i>g(x)</i></th> <!-- Funkcja dopasowania -->
                <th><i>p(x)</i></th> <!-- Prawdopodobieństwo -->
                <th><i>q(x)</i></th> <!-- dolny przedział -->
                <th><i>r</i></th> <!-- wylosowane przypadkowe liczby z przedziało <0, 1> -->
                <th><i>x<sub>2</sub><sup>real</sup></i></th>
            </tr>

            {{ range $i, $a := . }}
            <tr>
                <td>{{ $i }}</td>
                <td>{{ $a.XReal }}</td>
                <td>{{ $a.Fx }}</td>
                <td>{{ $a.Gx }}</td>
                <td>{{ $a.Px }}</td>
                <td>{{ $a.Qx }}</td>
                <td>{{ $a.R }}</td>
                <td>x<sub>{{ $a.XReal2 }}</sub></td>
            </tr>
            {{ end }}
        </table>
        {{ if not . }}
            <center><h3>Kliknij przycisk "Oblicz" by zobaczyć dane!</h3></center>
        {{ end }}
    </body>
</html>
